# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
build/
generated/ # A veces hay una carpeta 'generated'
.idea/ # Para IntelliJ/Android Studio
.vscode/ # Para VS Code

# Android
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/app/.externalNativeBuild/
android/app/src/main/assets/flutter_assets/
android/local.properties
android/.gradle/8.10.2/fileHashes/

# iOS / macOS
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.ios-plugins
macos/.flutter-plugins
macos/.flutter-plugins-dependencies
macos/.packages
macos/Flutter/ephemeral/
# Linux
linux/build/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
windows/build/
# Web
web/flutter_service_worker.js

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
